/* Hero section */
.hero {
  background-image: url("../images/homepageimg.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
  margin-bottom: 20px;
}

/* Events grid */
.category-block {
  text-align: left;
  padding: 50px;
}
.event-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.events-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  justify-content: left;
}

.event-card p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.event-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.event-card {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
