body {
  /* padding: 50px; */
  font: 18px "Nunito", Helvetica, Arial, sans-serif;
  background-color: #fff;
  display: flex;
}

select, input, .button {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  font: 18px "Nunito";
  box-sizing: border-box;
}

select, input {
  border: 0.5px #B3B3B3 solid;
  padding-left: 16px;
}

select {
  background-color: #fff;
}

.yellow-button {
  background-color: #FFDE59;
  border: none;
  font: bold;
}

.orange-button {
  background-color: #FF914D;
  border: none;
  font: bold;
  color: #fff;
}

a {
  color: #000;
}

.split {
  width: 50vw;
  height: 100%;
  flex-basis: 50vw;
  /* top: 25vh; */
}

.left-div-login {
  left: 5%;
  padding-top: 24vh;
}

.left-div-signup {
  left: 5%;
  padding-top: 12vh;
}

.right-div {
  /* float: right;
  width: 50%; */
  right: 5%;
  top: 16%;
  position: fixed;
}

hr {
  width: 200px;
}

#party {
  width: 40vw;
  height: auto;
}

.centered {
  text-align: center;
}

#sign-up-form {
  display: inline-block;
  text-align: left;
}

.body {
  display: flex;
  flex-direction: row;
}

#logo {
  width: 20%;
}

.font-36 {
  font-size: 3.6vh;
}