/* .modal {
  display: none;
} */


/* modals hidden by default - this is for testing */
/* #edit_profile_modal {
  display: none;
} */

/* body {
  font: 18px "Nunito", Helvetica, Arial, sans-serif;
  background-color: #fff;
  display: flex;
} */

.modal {
  width: 50vw;
  height: auto;
  background-color: #fff;
  margin: 10vh auto 10vh auto;
  border: #000 solid 1px;
  border-radius: 10px;
  display: flex;
  align-items: center;     /* Horizontal centering */
  justify-content: center; /* Vertical centering (if desired) */
  font: 18px "Nunito", Helvetica, Arial, sans-serif;
}

/* .modal-content {
  width: 25vw;
  margin: 5vh auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

select, input, .button {
  width: 40vw;
  height: 40px;
  border-radius: 10px;
  font: 18px "Nunito";
  box-sizing: border-box;
}

select, input {
  border: 0.5px #B3B3B3 solid;
  padding-left: .4vw;
  margin-top: .5vh;
}

select {
  background-color: #fff;
}

.orange-button {
  background-color: #FF914D;
  border: none;
  font: bold;
  color: #fff;
  margin-bottom: 5vh;
}

#id-title-role {
  display: flex;
  justify-content: space-between;
}

#student-id {
  width: 15vw;
}

#title, #role {
  width: 10.8vw;
}

textarea {
  border-radius: 10px;
  font: 18px "Nunito", Helvetica, Arial, sans-serif;
  width: 40vw;
  height: 40vh;
  padding-left: .5vw;
}

#delete_account_button {
  color: white;
  background-color: red;
  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  margin-top: 10vh;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50vw;
  position: relative;
  font: 18px "Nunito", Helvetica, Arial, sans-serif;
  max-height: 80vh;
  overflow: scroll;
}

.modal-content h3 {
  margin-top: 0;
  text-align: center;
}

.modal-content form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.modal-content form input,
.modal-content form select {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  box-sizing: border-box;
}
/*
#description-box {
  height: 50vh;
} */

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

#new-photo-input {
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#new-photo-input button {
  width: 10vw;
  height: 3.6vh;
  margin: 1vh 2vw;
  border-radius: 10px;
  font: 18px "Nunito";
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: auto;                /* Optional: space between buttons */
  padding-left: 10%;
  padding-right: 10%;
}

.modal-button {
  width: 10vw;
  height: 4vh;
  margin: 3vh 4vw;
  overflow: hidden;
}

.modal-buttons .orange-button {
  margin-right: 10%;
}

.modal-buttons .white-button {
  margin-left: 10%;
}
