<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
        <link rel="stylesheet" href="stylesheets/admin.css">
        <link rel="stylesheet" href="stylesheets/header-footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="module" src="/javascripts/admin.js" defer></script>
    </head>
    <body id="app">
        <header class="header admin_header">
            <div class="logo"></div>
            <div class = "title">Admin Dashboard</div>
        </header>
    <main>
        <h1>User Management</h1>

        <div class="control-bar">
            <form method="POST" >
                <input type="text" placeholder="Enter email">
                <input type="Submit" value="Search">
            </form>
            <button type="button" class="hide-button" @click="user_table_change()">{{user_table ? "Hide" : "Show"}}</button>
        </div>
        <br>
        <div class="admin-table" v-if="user_table">
            <table class="user-table">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Student ID
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Edit
                    </th>
                </tr>
                <!-- <% users.forEach((user) => { %>
                    <tr>
                        <td><%user.user_id %></td>
                        <td><%user.first_name %></td>
                        <td><%user.last_name %></td>
                        <td><%user.user_role %></td>
                        <td><%user.student_id %></td>
                        <td><%user.first_email %></td>
                        <td><%user.phone_number %></td>
                        <td><a href="/index.html">Edit</a></td>
                    </tr>
                <% }); %> -->
                <tr>
                    <td><%user.user_id %></td>
                    <td><%user.first_name %></td>
                    <td><%user.last_name %></td>
                    <td><%user.user_role %></td>
                    <td><%user.student_id %></td>
                    <td><%user.first_email %></td>
                    <td><%user.phone_number %></td>
                    <td><a href="/index.html">Edit</a></td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <h1>Event Management</h1>

        <div class="control-bar">
            <form>
                <input type="text" placeholder="Enter title">
                <input type="Submit" value="Search">
            </form>
            <button type="button" class="hide-button" @click="event_table_change">{{event_table ? "Hide" : "Show"}}</button>
        </div>
        <br>
        <div class="admin-table" v-if="event_table">
            <table>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Host ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Edit
                    </th>
                </tr>
                <!-- <% users.forEach((user) => { %>
                    <tr>
                        <td><%user.user_id %></td>
                        <td><%user.first_name %></td>
                        <td><%user.last_name %></td>
                        <td><%user.user_role %></td>
                        <td><%user.student_id %></td>
                        <td><%user.first_email %></td>
                        <td><%user.phone_number %></td>
                        <td><a href="/index.html">Edit</a></td>
                    </tr>
                <% }); %> -->
                <tr>
                    <td><%user.user_id %></td>
                    <td><%user.first_name %></td>
                    <td><%user.last_name %></td>
                    <td><%user.user_role %></td>
                    <td><%user.student_id %></td>
                    <td><%user.first_email %></td>
                    <td><%user.phone_number %></td>
                    <td><a href="/index.html">Edit</a></td>
                </tr>
            </table>
        </div>
    </main>
        <footer class="footer">
            <div>
                <img class="footer-logo" src="/images/logos/MyEvents-whitetext.png" alt="">
            </div>
            <div class="footer-info">
              <p>Hub Central Level 4, The University of Adelaide</p>
              <p>North Terrace, Adelaide, SA 5000</p>
              <p>myevents@email.com</p>
              <p>+61 1234 5678</p>
            </div>
            <div class="socials">
                <p>Follow us on socials</p>
                <div class="social-icons">
                    <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                </div>
            </div>
        </footer>
    </body>
</html>