<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Event</title>
        <link rel="stylesheet" href="stylesheets/event.css">
        <link rel="stylesheet" href="stylesheets/header-footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="module" src="/javascripts/event.js" defer></script>
    </head>
    <body id="app">
        <header class="header">
            <a href="/"><div class="logo"></div></a>
            <input type="text" v-model="searchQuery" placeholder="Search for events..." class="search-bar">
            <nav class="nav-links">
                <div class="nav-item"><a href="/">MyEvents</a></div>
                <div class="nav-item" v-if="!isLoggedIn"><a href="sign-up.html">Sign Up</a></div>
                <div class="nav-item" v-if="!isLoggedIn"><a href="log-in.html">Log In</a></div>
                <div class="nav-item" v-if="isLoggedIn"><a href="create-event.html">Create Event</a></div>
                <div class="nav-item" v-if="isLoggedIn"><a href="create-event.html">My Profile</a></div>
            </nav>
        </header>
    <main id="event-app">
        <img v-if="event" class="hero" :src="`/images/event_images/${event.image_name}`" alt="">
            <div class="event-container">
            <div id="event-detail">
                <section class="event-detail" v-if="event">
                    <h1><strong></strong>{{ event.title }}</h1>
                    <p><strong>Date:</strong><br>{{ formatDate(event.event_date) }}</p>
                    <p><strong>Start Time:</strong><br>{{ formatTime(event.start_time) }}</p>
                    <p><strong>Location:</strong><br>{{ event.event_location }}</p>
                    <p><strong>Price:</strong><br>{{ event.price }}</p>
                    <p><strong>Description:</strong><br>{{ event.description }}</p>
                </section>
            </div>
            <div id="ticket-card" class="ticket-card" v-if="event">
                <div class="qty-row">
                    <h3 class="ticket-card-title">General Admission</h3>
                    <div class="ticket-card-qty">
                        <button type="button" @click="decrement" :disabled="quantity<=1" class="ticket-card-btn">-</button>
                        <span class="ticket-card-count">{{ quantity }}</span>
                        <button type="button" @click="increment" class="ticket-card-btn">+</button>
                    </div>
                </div>
                <button type="button" @click="purchase" class="ticket-purchase">Purchase</button>
            </div>
        </div>
    </main>
        <footer class="footer">
            <div>
                <img class="footer-logo" src="/images/logos/MyEvents-whitetext.png" alt="">
            </div>
            <div class="footer-info">
              <p>Hub Central Level 4, The University of Adelaide</p>
              <p>North Terrace, Adelaide, SA 5000</p>
              <p>myevents@email.com</p>
              <p>+61 1234 5678</p>
            </div>
            <div class="socials">
                <p>Follow us on socials</p>
                <div class="social-icons">
                    <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                </div>
            </div>
        </footer>
    </body>
</html>