<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login-signup.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="javascripts/signup.js" defer></script>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito');
    </style>
    <title>Sign Up</title>
</head>
<body >
    <div class="body" id="app">
        <div class="left-div-signup split">
            <div class="centered">
                <h1>Let's create new account!</h1>
                <form id="sign-up-form" @submit.prevent="submitForm">
                        <label for="first-name">First Name:</label><br>
                        <input  type="text"
                                id="first-name"
                                name="first-name"
                                v-model = "first_name"
                                placeholder="First Name"
                                required><br><br>
                        <label for="last-name">Last Name:</label><br>
                        <input  type="text"
                                id="last-name"
                                name="last-name"
                                v-model = "last_name"
                                placeholder="Last Name"
                                required><br><br>
                        <label for="password">Password:</label><br>
                        <input  type="password"
                                id="password"
                                name="password"
                                v-model="password"
                                placeholder="Password"
                                required>
                        <div v-if="password && passwordErrors.length" class="error-message">
                                <p>Password must containt at least:</p>
                                <ul>
                                        <li v-for="err in passwordErrors" :key="err">{{err}}</li>
                                </ul>
                        </div>
                        <br v-if="!password || !passwordErrors.length"><br>
                        <label for="Confirmpassword">Confirm your password:</label><br>
                        <input  type="password"
                                id="Confirmpassword"
                                name="password"
                                v-model="confirm_password"
                                placeholder="Password"
                                required>
                        <div v-if="password && confirm_password && !passwordMatch" class="error-message">Password do not match. Please try again!</div>
                        <div v-if="password && !passwordErrors.length && confirm_password && passwordMatch" class="accept-message">Password Match!</div>
                        <br><br>
                        <label for="email-address">Email Address:</label><br>
                        <input  type="email"
                                id="email-address"
                                name="email-address"
                                v-model="email"
                                placeholder="Email Address"
                                required>
                        <div v-if="errorMessage" class="error-message">{{ errorMessage }}</div>
                        <br><br>
                        <label for="title">Title:</label><br>
                        <select name="title" id="title" v-model="title">
                                <option value="mr">Mr.</option>
                                <option value="mrs">Mrs.</option>
                                <option value="ms">Ms.</option>
                        </select><br><br>
                        <!-- <input  type="text"
                                id="gender"
                                name="gender"
                                placeholder="Gender"
                                required><br><br> -->
                        <label for="phone-number">Phone Number:</label><br>
                        <input  type="tel"
                                id="phone-number"
                                name="phone-number"
                                v-model="phone_number"
                                placeholder="Phone Number"
                                required><br><br>
                        <label for="student-id">Student ID (optional):</label><br>
                        <input  type="text"
                                id="student-id"
                                name="student-id"
                                v-model="student_id"
                                placeholder="Student ID"><br><br>
                        <!-- <label for="faculty">Faculty:</label><br>
                        <select name="faculty" id="faculty" v-model="">
                                <option value="able">ABLE</option>
                                <option value="set">SET</option>
                                <option value="hms">HMS</option> -->
                        <!-- </select><br><br> -->
                        <label for="role">Role:</label><br>
                        <select name="role" id="role" v-model="user_role">
                                <option value="student">Student</option>
                                <option value="uoa_staff">UoA Staff</option>
                                <option value="guest">Guest</option>
                        </select><br><br>
                        <input  type="submit"
                                value="Sign up"
                                class="button yellow-button"><br><br>
                        <hr>
                        <br>
                <button type="button" class="button orange-button" @click="goToLogIn">Already have an account</button>
                </form>
            </div>
        </div>
        <div class="right-div split">
            <div class="centered">
                <a href="/">
                        <img src="images/logos/MyEvents-blacktext.png" alt="logo" id="logo">
                </a>

                <p class="font-36">From Pub Crawls to Career Talks - It's All Here!</p>
                <img src="./images/7016179.jpg" alt="7016179" id="party">
            </div>
        </div>
    </div>
</body>
</html>