<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/header-footer.css">
    <link rel="stylesheet" href="./stylesheets/user-profile.css">
    <link rel="stylesheet" href="./stylesheets/user-profile-modal.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito');
    </style>

    <title>User Profile</title>
</head>
<body>
    <div id="overlay">
        <header class="header">
            <a href="/"><div class="logo"></div></a>
            <input type="text" v-model="searchQuery" placeholder="Search for events..." class="search-bar">
            <nav class="nav-links">
                <div class="nav-item" v-if="!isLoggedIn"><a href="sign-up.html">Sign Up</a></div>
                <div class="nav-item" v-if="!isLoggedIn"><a href="log-in.html">Log In</a></div>
                <div class="nav-item" v-if="isLoggedIn"><a href="create-event.html">Create Event</a></div>
                <div class="nav-item" v-if="isLoggedIn"><a href="create-event.html">My Profile</a></div>
            </nav>
        </header>
        <!-- navigation bar -->
        <div class="container">
            <div class="left-column">
                <div id="user-info-card" class="card">
                    <div class="photo-name">
                        <img src="./images/user_avatar/default_avatar.png" alt="Profile Photo" class="user-profile-img">
                        <h2>First Name Last Name</h2><br>
                    </div>
                    <div class="user-info">
                        <span class="bold-text">Email Address:</span>
                        <br>
                        <span>example@gmail.com</span>
                        <br>
                        <br>
                        <span class="bold-text">Phone Number:</span>
                        <br>
                        <span>+61 2345 6789</span>
                        <br>
                        <br>
                        <span class="bold-text">Role:</span>
                        <br>
                        <span>Student</span>
                        <br>
                        <br>
                        <span class="bold-text">Student ID:</span>
                        <br>
                        <span>a1234567</span>
                    </div>
                </div>
                <div id="user-settings-card" class="card">
                    <h2>Settings</h2>
                    <div class="user-settings">
                        <button id="edit_profile_button" class="user-settings-button">Edit profile</button><br>
                        <button id="change_password_button" class="user-settings-button">Change password</button><br>
                        <button id="delete_account_button" class="user-settings-button" style="color: red">Delete account</button><br>
                        <button id="report_error_button" class="user-settings-button">Report error</button><br>
                        <button id="log_out_button" class="user-settings-button">Log out</button><br>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div id="attending-events">
                    <h2>Attending Events</h2>
                    <div class="event-card card">
                        <img src="./images/user_avatar/default_avatar.png" alt="Event Card Image" class="event-card-img">
                        <div class="event-card-info">
                            <div class="title-location-date-time">
                                <div class="title-location">
                                    <span class="bold-text">Event Title: </span><span>Event Name</span>
                                    <br>
                                    <br>
                                    <span class="bold-text">Location: </span><span>Barr Smith Library</span>
                                </div>
                                <div class="date-time">
                                    <span class="bold-text">Date: </span><span>01/01/2026</span>
                                    <br>
                                    <br>
                                    <span class="bold-text">Start Time: </span><span>16:00</span>
                                </div>
                            </div>
                            <div class="description">
                                <span class="bold-text">Description: </span><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, cum eaque? Maxime molestiae itaque eveniet incidunt mollitia officia cum tenetur sint natus necessitatibus quaerat delectus iure, nesciunt iusto doloremque! </span>
                            </div>
                        </div>
                    </div>
                    <div class="event-card card">
                        <img src="./images/user_avatar/default_avatar.png" alt="Event Card Image" class="event-card-img">
                        <div class="event-card-info">
                            <div class="title-location-date-time">
                                <div class="title-location">
                                    <span class="bold-text">Event Title: </span><span>Event Name</span>
                                    <br>
                                    <br>
                                    <span class="bold-text">Location: </span><span>Barr Smith Library</span>
                                </div>
                                <div class="date-time">
                                    <span class="bold-text">Date: </span><span>01/01/2026</span>
                                    <br>
                                    <br>
                                    <span class="bold-text">Start Time: </span><span>16:00</span>
                                </div>
                            </div>
                            <div class="description">
                                <span class="bold-text">Description: </span><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, cum eaque? Maxime molestiae itaque eveniet incidunt mollitia officia cum tenetur sint natus necessitatibus quaerat delectus iure, nesciunt iusto doloremque! </span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="show-more-button white-button">Show more events</button>
                </div>
                <div id="attended-events">
                    <h2>Attended Events</h2>
                    <div class="event-card card">
                        <img src="./images/user_avatar/default_avatar.png" alt="Event Card Image" class="event-card-img">
                        <div class="event-card-info">
                            <div class="title-location-date-time">
                                <div class="title-location">
                                    <span class="bold-text">Event Title: </span><span>Event Name</span>
                                    <br>
                                    <br>
                                    <span class="bold-text">Location: </span><span>Barr Smith Library</span>
                                </div>
                                <div class="date-time">
                                    <span class="bold-text">Date: </span><span>01/01/2026</span>
                                    <br>
                                    <br>
                                    <span class="bold-text">Start Time: </span><span>16:00</span>
                                </div>
                            </div>
                            <div class="description">
                                <span class="bold-text">Description: </span><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, cum eaque? Maxime molestiae itaque eveniet incidunt mollitia officia cum tenetur sint natus necessitatibus quaerat delectus iure, nesciunt iusto doloremque! </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hosting-events">
                    <h2>Hosting Events</h2>
                    <div class="event-card card" style="display: block; text-align: center; align-items: center;">
                        <img src="./images/calendar.jpg" alt="Event Card Image" class="event-card-img">
                        <div class="event-card-info">
                            <p>You don't have any hosting events.</p>
                        </div>
                    </div>
                </div>
                <div id="hosted-events">
                    <h2>Hosted Events</h2>
                    <div class="event-card card">
                        <img src="./images/user_avatar/default_avatar.png" alt="Event Card Image" class="event-card-img">
                        <div class="event-card-info">
                            <div class="title-location-date-time">
                                <div class="title-location">
                                    <span class="bold-text">Event Title: </span><span>Event Name</span>
                                    <br>
                                    <br>
                                    <span class="bold-text">Location: </span><span>Barr Smith Library</span>
                                </div>
                                <div class="date-time">
                                    <span class="bold-text">Date: </span><span>01/01/2026</span>
                                    <br>
                                    <br>
                                    <span class="bold-text">Start Time: </span><span>16:00</span>
                                </div>
                            </div>
                            <div class="description">
                                <span class="bold-text">Description: </span><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, cum eaque? Maxime molestiae itaque eveniet incidunt mollitia officia cum tenetur sint natus necessitatibus quaerat delectus iure, nesciunt iusto doloremque! </span>
                            </div>
                        </div>
                    </div>
                    <div class="event-card card">
                        <img src="./images/user_avatar/default_avatar.png" alt="Event Card Image" class="event-card-img">
                        <div class="event-card-info">
                            <div class="title-location-date-time">
                                <div class="title-location">
                                    <span class="bold-text">Event Title: </span><span>Event Name</span>
                                    <br>
                                    <br>
                                    <span class="bold-text">Location: </span><span>Barr Smith Library</span>
                                </div>
                                <div class="date-time">
                                    <span class="bold-text">Date: </span><span>01/01/2026</span>
                                    <br>
                                    <br>
                                    <span class="bold-text">Start Time: </span><span>16:00</span>
                                </div>
                            </div>
                            <div class="description">
                                <span class="bold-text">Description: </span><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, cum eaque? Maxime molestiae itaque eveniet incidunt mollitia officia cum tenetur sint natus necessitatibus quaerat delectus iure, nesciunt iusto doloremque! </span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="show-more-button white-button">Show more events</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modals to be hidden by default -->
    <div class="modal" id="edit_profile_modal">
        <div class="modal-content">
            <h1>Edit your profile</h1>
            <form id="edit-profile-form">
                <label class="bold-text" for="first-name">First Name:</label><br>
                <input  type="text"
                        id="first-name"
                        name="first-name"
                        placeholder="First Name"
                        required><br><br>
                <label class="bold-text" for="last-name">Last Name:</label><br>
                <input  type="text"
                        id="last-name"
                        name="last-name"
                        placeholder="Last Name"
                        required><br><br>
                <label class="bold-text" for="email-address">Email Address:</label><br>
                <input  type="email"
                        id="email-address"
                        name="email-address"
                        v-model="email"
                        placeholder="Email Address"
                        required><br><br>
                <label class="bold-text" for="phone-number">Phone Number:</label><br>
                <input  type="tel"
                        id="phone-number"
                        name="phone-number"
                        v-model="phone_number"
                        placeholder="Phone Number"
                        required><br><br>
                <div id="id-title-role">
                    <div>
                        <label class="bold-text" for="student-id">Student ID (optional):</label><br>
                        <input  type="text"
                            id="student-id"
                            name="student-id"
                            v-model="student_id"
                            placeholder="Student ID"><br><br>
                    </div>
                    <div>
                        <label class="bold-text" for="title">Title:</label><br>
                        <select name="title" id="title" v-model="title">
                                <option value="mr">Mr.</option>
                                <option value="mrs">Mrs.</option>
                                <option value="ms">Ms.</option>
                        </select><br><br>
                    </div>
                    <div>
                        <label class="bold-text" for="role">Role:</label><br>
                        <select name="role" id="role" v-model="user_role">
                                <option value="student">Student</option>
                                <option value="uoa_staff">UoA Staff</option>
                                <option value="guest">Guest</option>
                        </select><br><br>
                    </div>
                </div>
                <!-- <br> -->
            <!-- <button type="submit" class="button orange-button"">Save changes</button> -->
            </form>
            <br>
            <div class="modal-buttons">
                <button id="discard_changes_button" class="white-button modal-button">Discard changes</button>
                <br>
                <button type="submit" form="edit-profile-form" class="modal-button button orange-button"">Save changes</button>
            </div>
        </div>
    </div>
</body>
</html>